<mat-card>
  <mat-card-title>
      Sign up form
  </mat-card-title>
  <mat-card-content>
    <section class="example-section">
      <mat-checkbox class="example-margin" checked="true">Checked</mat-checkbox>
    </section>
    <section>
      <mat-checkbox class="example-margin" indeterminate="true">Indeterminate</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" disabled="true">Disabled</mat-checkbox>
    </section>
    <mat-card-actions>
      <div class="button-row">
        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button>Cancel</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
